<#include "../include/imports.ftl">
<footer>
  <div class="footer">

    <div class="container">
      <div class="footer-wrapper">
        <div class="row">
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 center-text">
                  <div class="copyright-text">ISTEP Solutions &copy; 2018, sayatbek@mail.ru</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>